# Import

In [153]:
%load_ext autoreload
%autoreload 2
from DataProcessing import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Settings

In [154]:
selected_date = '2024-11'

# Death Data

In [155]:
df = generate_deathData()
df

patient death report2024-12-02 at 23_15_53.csv
Carry forward death not in data: MR005769 2024-01
Carry forward death not in data: MR000766 2024-01
Patient attrition2024-12-02 at 12_01_28.csv
GL Expiry Report New2024-12-02 at 15_25_14.csv

,Region,Primary Center,MR No.,Patient Name W/O Title,Death Date,Death Time,Death Reason,Physical Discharge Remarks,Death Category,Discharging Doctor,Age,Month,Week,Sponsor
0,Region 4,Batu Berendam,MR005550,THANAPAKIAM A/P MUNIANDY,2024-11-25,11:25:00,Cardiac,cardiogenic shock secondary to non st elevatio...,Cardiac,NaN,72,2024-11,48,MAJLIS BANDARAYA MELAKA BERSEJARAH
1,Region 1,Seberang Perai,MR008167,KHAZALI BIN MOHAMAD,2024-11-26,08:25:00,Death at home,"CARDIAC, DM, HPT",Cardiac,NaN,68,2024-11,48,NaN
2,Region 1,Kangar,MR000348,ZORINA BINTI DESA,2024-11-21,15:00:00,Others,"Suddenly death at home,underlying CA.",Death at home,NaN,59,2024-11,47,JABATAN HAL EHWAL VETERAN (BP)
3,Region 3,TTJ,MR007289,BAHARIPAH BINTI HUSIN,2024-11-21,21:39:00,Infection/ Sepsis,pt passed away at HTJ due to septicemia,Infection/ Sepsis,NaN,71,2024-11,47,NaN
4,Region 5,Papar,MR007483,JERI BIN JAMALUDDIN,2024-11-24,10:00:00,ESRD,NaN,ESRD (hyperK/ fluid),NaN,64,2024-11,47,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,Region 3,Meru,MR005604,JAILANI BIN AHMAD,2024-01-02,09:30:00,Death at home,sakit buah pinggang,Death at home,NaN,75,2024-01,1,LEMBAGA ZAKAT SELANGOR
220,Region 3,Meru,MR007196,MAT RAHIM BIN KASIM,2024-01-03,09:34:00,GI bleeding,NaN,GI bleeding,NaN,61,2024-01,1,PERTUBUHAN KESELAMATAN SOSIAL
221,Region 2,Tanjung Karang,MR006211,MARPU BINTI SARNO,2024-01-07,10:30:00,ESRD,"Death @ Hosp Tanjong Karang, with ? of chest i...",ESRD (hyperK/ fluid),NaN,58,2024-01,1,LEMBAGA ZAKAT SELANGOR
222,Region 4,Kota Tinggi,MR001337,RUHANI BINTI YAAKOB,2024-01-01,11:55:00,Cardiac,Acute coronary syndrome,Cardiac,NaN,68,2024-01,1,MAJLIS AGAMA ISLAM NEGERI JOHOR
223,Region 3,Seremban,MR000812,AMRAH BINTI MD YUSOF,2024-01-04,11:39:00,Others,SEPTIC SHOCK SECONDARY TO HOSPITAL AQUIRED PNE...,Infection/ Sepsis,NaN,77,2024-01,1,JABATAN PERKHIDMATAN AWAM MALAYSIA

# Death Count

## Country

In [156]:
country_death = monthly_death_count(df)[0]
country_death

      Month  Count
0   2024-01     27
1   2024-02     17
2   2024-03     22
3   2024-04     28
4   2024-05     31
5   2024-06     24
6   2024-07     20
7   2024-08     12
8   2024-09     17
9   2024-10     11
10  2024-11     15

## Region

In [157]:
region_death = monthly_death_count(df)[1]
region_death[region_death['Month'] == selected_date]

      Region    Month  Count
9   Region 1  2024-11      3
19  Region 2  2024-11      5
30  Region 3  2024-11      4
41  Region 4  2024-11      2
52  Region 5  2024-11      1

## Center

In [158]:
center_death = monthly_death_count(df)[-1]
center_death[center_death['Month'] == selected_date]

       Region    Primary Center    Month  Count
1    Region 1        Alor Setar  2024-11      1
7    Region 1            Kangar  2024-11      1
18   Region 1    Seberang Perai  2024-11      1
34   Region 2  Batang Berjuntai  2024-11      1
40   Region 2            Kajang  2024-11      1
44   Region 2           Puchong  2024-11      1
59   Region 2      Sungai Besar  2024-11      1
65   Region 2    Tanjung Karang  2024-11      1
73   Region 3       Kuala Pilah  2024-11      1
95   Region 3               TTJ  2024-11      3
108  Region 4     Batu Berendam  2024-11      1
118  Region 4       Johor Bharu  2024-11      1
146  Region 5             Papar  2024-11      1

# Death Reason Count

## Country

In [159]:
country_category = monthly_death_reason(df)[-1]
country_category[country_category['Month'] == selected_date]

,Region,Primary Center,Month,Death Category,Count,Percentage
1,Region 1,Alor Setar,2024-11,Cardiac,1,100.00
8,Region 1,Kangar,2024-11,Death at home,1,100.00
20,Region 1,Seberang Perai,2024-11,Cardiac,1,100.00
41,Region 2,Batang Berjuntai,2024-11,Cardiac,1,100.00
48,Region 2,Kajang,2024-11,ESRD (hyperK/ fluid),1,100.00
52,Region 2,Puchong,2024-11,Others,1,100.00
74,Region 2,Sungai Besar,2024-11,ESRD (hyperK/ fluid),1,100.00
81,Region 2,Tanjung Karang,2024-11,Death at home,1,100.00
90,Region 3,Kuala Pilah,2024-11,Cardiac,1,100.00
117,Region 3,TTJ,2024-11,Cerebrovascular,1,33.33
118,Region 3,TTJ,2024-11,Infection/ Sepsis,2,66.67
135,Region 4,Batu Berendam,2024-11,Cardiac,1,100.00
148,Region 4,Johor Bharu,2024-11,Cardiac,1,100.00
184,Region 5,Papar,2024-11,ESRD (hyperK/ fluid),1,100.00