# Import

In [12]:
%load_ext autoreload
%autoreload 2
from DataProcessing import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Settings

In [2]:
selected_date = '2024-12'

# Death Data

In [8]:
df = generate_deathData()
df

patient death report2024-12-16 at 09_42_31.csv
Carry forward death not in data: MR005769 2024-01
Carry forward death not in data: MR000766 2024-01
Patient attrition2024-12-16 at 09_44_26.csv
GL Expiry Report New2024-12-16 at 09_46_09.csv

,Region,Primary Center,MR No.,Patient Name W/O Title,Death Date,Death Time,Death Reason,Physical Discharge Remarks,Death Category,Discharging Doctor,Age,Month,Week,Sponsor
0,Region 4,BBU,MR001097,MOHAMMAD RAMLI BIN MOHAMMAD SAAD,2024-12-09,14:46:00,Cardiac,NaN,NaN,NaN,69,2024-12,50,PERTUBUHAN KESELAMATAN SOSIAL
1,Region 1,Kangar,MR005729,NOOR SHELA BINTI ABU HASAN,2024-12-10,01:38:00,Cardiac,Cardiogenic Shock Second Degree Pulmonary Embo...,NaN,NaN,39,2024-12,50,PERTUBUHAN KESELAMATAN SOSIAL
2,Region 2,Sungai Besar,MR006280,ALIAS BIN BAGINDA,2024-12-12,12:39:00,ESRD,await death cert,NaN,NaN,67,2024-12,50,JABATAN PERKHIDMATAN AWAM MALAYSIA
3,Region 4,Benut,MR007148,NORLIDAH BINTI RAHIMA,2024-12-08,22:00:00,Non access infection,SHINGLES AT HOSPITAL KLUANG,NaN,NaN,58,2024-12,49,JABATAN PERKHIDMATAN AWAM MALAYSIA
4,Region 4,Taman Seri Setia,MR004001,JAMILAH BINTI AHMAD,2024-12-06,01:16:00,Others,SEPSIS SECONDARY TO RIGHT ARM ABSCESS,NaN,NaN,72,2024-12,49,MAJLIS AGAMA ISLAM NEGERI JOHOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Region 3,Meru,MR007196,MAT RAHIM BIN KASIM,2024-01-03,09:34:00,GI bleeding,NaN,GI bleeding,NaN,61,2024-01,1,PERTUBUHAN KESELAMATAN SOSIAL
231,Region 2,Batang Berjuntai,MR007475,AZIZAH BINTI MOHAMAD NOOR,2024-01-02,13:08:00,Others,PENDING CERTIFICATE,Others,NaN,66,2024-01,1,LEMBAGA ZAKAT SELANGOR
232,Region 4,Kota Tinggi,MR001337,RUHANI BINTI YAAKOB,2024-01-01,11:55:00,Cardiac,Acute coronary syndrome,Cardiac,NaN,68,2024-01,1,MAJLIS AGAMA ISLAM NEGERI JOHOR
233,Region 3,Seremban,MR000812,AMRAH BINTI MD YUSOF,2024-01-04,11:39:00,Others,SEPTIC SHOCK SECONDARY TO HOSPITAL AQUIRED PNE...,Infection/ Sepsis,NaN,77,2024-01,1,JABATAN PERKHIDMATAN AWAM MALAYSIA
234,Region 2,Tanjung Karang,MR006211,MARPU BINTI SARNO,2024-01-07,10:30:00,ESRD,"Death @ Hosp Tanjong Karang, with ? of chest i...",ESRD (hyperK/ fluid),NaN,58,2024-01,1,LEMBAGA ZAKAT SELANGOR

# Weekly International Report

In [11]:
week = genWeeklyDeath(df, 50)
week

,Region,Clinics,MR No.,Patient Name W/O Title,Sponsor,Treatment,Date of Death,Cause of Death,Cause of Death Grouped,Week
1,Region 1,Kangar,MR005729,NOOR SHELA BINTI ABU HASAN,PERTUBUHAN KESELAMATAN SOSIAL,Hemodialysis,10/12/2024,Cardiogenic shock second degree pulmonary embo...,Cardiac,50
2,Region 2,Sungai Besar,MR006280,ALIAS BIN BAGINDA,JABATAN PERKHIDMATAN AWAM MALAYSIA,Hemodialysis,12/12/2024,Await death cert,ESRD,50
0,Region 4,BBU,MR001097,MOHAMMAD RAMLI BIN MOHAMMAD SAAD,PERTUBUHAN KESELAMATAN SOSIAL,Hemodialysis,09/12/2024,NaN,Cardiac,50

In [ ]:
# weeklyIntlChecking()

# Death Count

## Country

In [5]:
country_death = monthly_death_count(df)[0]
country_death

     Month  Count
0  2024-12     11

## Region

In [6]:
region_death = monthly_death_count(df)[1]
region_death[region_death['Month'] == selected_date]

     Region    Month  Count
0  Region 1  2024-12      3
1  Region 2  2024-12      4
2  Region 4  2024-12      4

## Center

In [7]:
center_death = monthly_death_count(df)[-1]
center_death[center_death['Month'] == selected_date]

     Region    Primary Center    Month  Count
0  Region 1             Gurun  2024-12      1
1  Region 1            Kangar  2024-12      1
2  Region 1    Seberang Perai  2024-12      1
3  Region 2             Bangi  2024-12      1
4  Region 2  Batang Berjuntai  2024-12      1
5  Region 2      Sungai Besar  2024-12      2
6  Region 4               BBU  2024-12      1
7  Region 4             Benut  2024-12      1
8  Region 4       Kota Tinggi  2024-12      1
9  Region 4  Taman Seri Setia  2024-12      1

# Death Reason Count

## Country

In [23]:
country_category = monthly_death_reason(df)[-1]
country_category[country_category['Month'] == selected_date]

,Region,Primary Center,Month,Death Category,Count,Percentage
0,Region 1,Alor Setar,2024-11,Cardiac,1,100.00
1,Region 1,Kangar,2024-11,Death at home,1,100.00
2,Region 1,Seberang Perai,2024-11,Cardiac,1,100.00
3,Region 2,Batang Berjuntai,2024-11,Cardiac,1,100.00
4,Region 2,Kajang,2024-11,ESRD (hyperK/ fluid),1,100.00
5,Region 2,Puchong,2024-11,Others,1,100.00
6,Region 2,Sungai Besar,2024-11,ESRD (hyperK/ fluid),1,100.00
7,Region 2,Tanjung Karang,2024-11,Death at home,1,100.00
8,Region 3,Kuala Pilah,2024-11,Cardiac,1,100.00
9,Region 3,TTJ,2024-11,Cerebrovascular,1,33.33
10,Region 3,TTJ,2024-11,Infection/ Sepsis,2,66.67
11,Region 4,Batu Berendam,2024-11,Cardiac,1,100.00
12,Region 4,Johor Bharu,2024-11,Cardiac,1,100.00
13,Region 5,Papar,2024-11,ESRD (hyperK/ fluid),1,100.00